{% extends 'base.html.twig' %}

{% block body %}
    <section class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_main">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300%7CJulius+Sans+One:600" rel="stylesheet" property="stylesheet" type="text/css" media="all">
        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:#E9E9E9;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8 fullscreen mode -->
            <div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8">
                <ul>	<!-- SLIDE  -->
                    <li data-index="rs-10" data-transition="slotfade-horizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/wp-content/uploads/2015/05/slider_1.jpg') }}"  alt="" title="slider_1"  width="1920" height="979" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-11" data-transition="slotfade-horizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/wp-content/uploads/2015/05/slider_2.jpg') }}"  alt="" title="slider_2"  width="1920" height="960" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-12" data-transition="slotfade-horizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('assets/wp-content/uploads/2015/05/slider_3.jpg') }}"  alt="" title="slider_3"  width="1920" height="936" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                    </li>
                </ul>
                <div style="" class="tp-static-layers">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption black   tp-static-layer"
                         id="slider-4-layer-1"
                         data-x="center" data-hoffset="1"
                         data-y="center" data-voffset="10"
                         data-width="['auto']"
                         data-height="['auto']"

                         data-type="text"
                         data-responsive_offset="on"

                         data-startslide="0"
                         data-endslide="1"
                         data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"nothing"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5; white-space: nowrap; font-size: px; line-height: px; font-weight: 300; letter-spacing: px;font-family:Open Sans;"><div class="sc_contact_form sc_contact_form_order aligncenter"><form id="sc_contact_form_975209666" data-formtype="order" method="post" action="http://solaris.themerex.net/wp-admin/admin-ajax.php"><div class="sc_contact_form_in"><h2 class="sc_contact_form_title">find a perfect  vacation</h2><div class="label_over"><input id="sc_contact_form_email" type="text" name="email" placeholder="E-MAIL"></div><select data-placeholder="PREDEFINED DESTINATIONS" class="destinations" name="criteria"><option value="" selected>PREDEFINED DESTINATIONS</option><option value="Australia">Australia</option><option value="London">London</option><option value="New York">New York</option><option value="Copenhagen">Copenhagen</option><option value="Germany">Germany</option><option value="Amsterdam">Amsterdam</option><option value="Paris">Paris</option><option value="Los Angeles">Los Angeles</option><option value="Barcelona">Barcelona</option><option value="Stockholm">Stockholm</option></select><div class="date_time"><div class="form_date start"><span class="icon"></span><input placeholder="Date start" class="sc_contact_form_date js__datepicker" type="text" name="date_start"></div><div class="form_date end"><span class="icon"></span><input placeholder="Date end" class="sc_contact_form_date js__datepicker" type="text" name="date_end"></div></div><div class="sc_form_field sc_form_field_checkbox">
                                        <input type="checkbox" id="i_agree_privacy_policy_sc_form_1" name="i_agree_privacy_policy" class="sc_form_privacy_checkbox" value="1">
                                        <label for="i_agree_privacy_policy_sc_form_1">I agree that my submitted data is being collected and stored.</label></div><div class="sc_contact_form_button"><button disabled="disabled">SEND MESSAGE</button></div><div class="result sc_infobox"></div></div></form></div> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption trx-light   tp-static-layer"
                         id="slider-4-layer-2"
                         data-x="227"
                         data-y="97"
                         data-width="['565']"
                         data-height="['114']"
                         data-visibility="['on','off','off','off']"

                         data-type="text"
                         data-responsive_offset="on"

                         data-startslide="0"
                         data-endslide="1"
                         data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"nothing"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6; min-width: 565px; max-width: 565px; max-width: 114px; max-width: 114px; white-space: nowrap; font-weight: 600; letter-spacing: px;"><div class='demo_text'>I travel not to go anywhere. but to go.<br/>
                            I travel for travel’s sake.<br/>
                            the great affair is to move.</div> </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption trx-light-small   tp-static-layer"
                         id="slider-4-layer-3"
                         data-x="235"
                         data-y="195"
                         data-width="['208']"
                         data-height="['30']"
                         data-visibility="['on','off','off','off']"

                         data-type="text"
                         data-responsive_offset="on"

                         data-startslide="0"
                         data-endslide="1"
                         data-frames='[{"delay":500,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"nothing"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 7; min-width: 208px; max-width: 208px; max-width: 30px; max-width: 30px; white-space: nowrap; font-weight: 600; letter-spacing: px;"><div class='demo_text'>- jason anderson</div> </div>
                </div>
                <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>	</div>
            <script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss=".tp-caption.black,.black{color:#000;text-shadow:none}.tp-caption.trx-light,.trx-light{font-size:18px;line-height:26px;font-weight:300;font-family:\"Julius Sans One\";color:#ffffff;text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none;text-transform:uppercase}.tp-caption.trx-light-small,.trx-light-small{font-size:12px;line-height:16px;font-weight:300;font-family:\"Julius Sans One\";color:#ffffff;text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none;text-transform:uppercase}";
                if(htmlDiv) {
                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                }else{
                    var htmlDiv = document.createElement("div");
                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                }
            </script>
            <script type="text/javascript">
                if (setREVStartSize!==undefined) setREVStartSize(
                    {c: '#rev_slider_4_1', gridwidth: [1920], gridheight: [800], sliderLayout: 'fullscreen', fullScreenAutoWidth:'off', fullScreenAlignForce:'off', fullScreenOffsetContainer:'', fullScreenOffset:''});

                var revapi4,
                    tpj;
                (function() {
                    if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();
                    function onLoad() {
                        if (tpj===undefined) { tpj = jQuery; if("on" == "on") tpj.noConflict();}
                        if(tpj("#rev_slider_4_1").revolution == undefined){
                            revslider_showDoubleJqueryError("#rev_slider_4_1");
                        }else{
                            revapi4 = tpj("#rev_slider_4_1").show().revolution({
                                sliderType:"standard",
                                jsFileLocation:"//solaris.themerex.net/wp-content/plugins/revslider/public/assets/js/",
                                sliderLayout:"fullscreen",
                                dottedOverlay:"none",
                                delay:9000,
                                navigation: {
                                    keyboardNavigation:"on",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation:"off",
                                    mouseScrollReverse:"default",
                                    onHoverStop:"on",
                                    touch:{
                                        touchenabled:"on",
                                        touchOnDesktop:"off",
                                        swipe_threshold: 75,
                                        swipe_min_touches: 1,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    }
                                },
                                visibilityLevels:[1240,1024,778,480],
                                gridwidth:1920,
                                gridheight:800,
                                lazyType:"none",
                                shadow:0,
                                spinner:"off",
                                stopLoop:"off",
                                stopAfterLoops:-1,
                                stopAtSlide:-1,
                                shuffle:"off",
                                autoHeight:"off",
                                fullScreenAutoWidth:"off",
                                fullScreenAlignForce:"off",
                                fullScreenOffsetContainer: "",
                                fullScreenOffset: "",
                                hideThumbsOnMobile:"off",
                                hideSliderAtLimit:0,
                                hideCaptionAtLimit:0,
                                hideAllCaptionAtLilmit:0,
                                debugMode:false,
                                fallbacks: {
                                    simplifyAll:"off",
                                    nextSlideOnWindowFocus:"off",
                                    disableFocusListener:false,
                                }
                            });
                        }; /* END OF revapi call */

                    }; /* END OF ON LOAD FUNCTION */
                }()); /* END OF WRAPPING FUNCTION */
            </script>
        </div><!-- END REVOLUTION SLIDER -->		</section>

    <div class="page_content_wrap">


        <div class="content">
            <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-1560 page type-page status-publish hentry" itemscope itemtype="http://schema.org/Article">
                <section class="post_content" itemprop="articleBody"><div class="sc_reviews alignright"><!-- #TRX_REVIEWS_PLACEHOLDER# --></div><div class="sc_section" style="margin-bottom:50px !important;background-color:#f5f7f7;"><div class="sc_section_overlay" style=""><div class="sc_section_content"><div class="sc_content content_wrap" data-animation="animated fadeInUp normal" style="margin-top:15px !important;margin-bottom:35px !important;"><div class="columns_wrap sc_columns columns_fluid sc_columns_count_3"><div class="column-1_3 sc_column_item sc_column_item_1 odd first" style="text-align:center;"><figure class="sc_image  sc_image_shape_square"><img src="{{ asset('assets/wp-content/uploads/2015/04/testimonials_1.png') }}" alt="" /></figure><h5 class="sc_title sc_title_regular sc_align_center" style="margin-top:10px;margin-bottom:5px;text-align:center;font-weight:600;"><a href="team/index.html">CONSULT WITH AN EXPERT</a></h5><div class="sc_section" style="margin-right:1.5em !important;margin-left:1.5em !important;">We&#8217;ll match you with an authority on your destination from our team of widely published writers who travel the globe.</div></div><div class="column-1_3 sc_column_item sc_column_item_2 even" style="text-align:center;"><figure class="sc_image  sc_image_shape_square"><img src="{{ asset('assets/wp-content/uploads/2015/04/testimonials_3.png') }}" alt="" /></figure><h5 class="sc_title sc_title_regular sc_align_center" style="margin-top:10px;margin-bottom:5px;text-align:center;font-weight:600;"><a href="about-us/index.html">GET A CUSTOMIZED PLAN</a></h5><div class="sc_section" style="margin-right:1.5em !important;margin-left:1.5em !important;">Our expert will map out your entire trip, with insider recommendations about where to go, what to do, how to get around and where to stay.</div></div><div class="column-1_3 sc_column_item sc_column_item_3 odd" style="text-align:center;"><figure class="sc_image  sc_image_shape_square"><img src="{{ asset('assets/wp-content/uploads/2015/04/testimonials_2.png') }}" alt="" /></figure><h5 class="sc_title sc_title_regular sc_align_center" style="margin-top:10px;margin-bottom:5px;text-align:center;font-weight:600;"><a href="gallery/index.html">BOOK YOUR TRIP</a></h5><div class="sc_section" style="margin-right:1.5em !important;margin-left:1.5em !important;">Finally, our in-house specialists will seamlessly help you book the hotels or activities on your itinerary at the best available rates.</div></div></div></div></div></div></div><div class="sc_section" style="margin-bottom:50px !important;"><div class="sc_content content_wrap" data-animation="animated fadeInUp normal"><h2 class="sc_title sc_title_iconed sc_align_center" style="margin-top:0px;margin-bottom:8px;text-align:center;"><span class="sc_title_icon sc_title_icon_top  sc_title_icon_small"><img src="{{ asset('assets/wp-content/uploads/2015/04/top_title_bg.png') }}" alt="" /></span>On Sale Today</h2><h5 class="sc_title sc_title_regular sc_align_center" style="margin-top:0px;text-align:center;color:#bac0c3;font-weight:600;">SOUTH AFRICA, MARYLAND, ITALY &amp; MORE</h5></div></div><div class="sc_section" style="background-image:url('{{ asset('assets/wp-content/uploads/2015/05/home_1.jpg') }}');"><div class="sc_section_overlay" style=""><div class="sc_section_content"><div class="sc_content content_wrap" data-animation="animated fadeInLeft normal" style="margin-top:4.8em !important;margin-bottom:5.3em !important;"><h1 class="sc_title sc_title_regular mobile-font-size" style="margin-top:0px;margin-bottom:5px;color:#ffffff;font-size:5.714em;">MACA BANA</h1><h5 class="sc_title sc_title_regular" style="margin-top:0px;margin-bottom:2em;color:#ffffff;font-weight:600;font-size:1.286em;">ST. GEORGE&#8217;S, GRENADA</h5><div class="sc_section" style="color:#ffffff;font-size:15px; line-height: 1.6em;"><figure class="sc_image  alignleft sc_image_shape_square" style="margin-top:5px !important;margin-right:10px !important;"><img src="{{ asset('assets/wp-content/uploads/2015/04/info_time.png') }}" alt="" /></figure></div><a href="product/soho-beach-house/index.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_white_2 sc_button_size_large alignleft" style="margin-top:20px;">visit sale</a></div></div></div></div><div class="sc_section aligncenter" style="background-image:url('{{ asset('assets/wp-content/uploads/2015/05/home_2.jpg') }}');"><div class="sc_section_overlay" style=""><div class="sc_section_content"><div class="sc_content content_wrap" data-animation="animated fadeInUp normal" style="margin-top:4.8em !important;margin-bottom:5.3em !important;"><h2 class="sc_title sc_title_regular sc_align_center" style="margin-top:0px;margin-bottom:15px;text-align:center;color:#ffffff;font-size:2.357em;">FOUR SEASONS HOTEL</h2><h1 class="sc_title sc_title_regular sc_align_center mobile-font-size" style="margin-top:0px;margin-bottom:5px;text-align:center;color:#ffffff;font-size:5.714em;">ALEXANDRIA</h1><h5 class="sc_title sc_title_regular sc_align_center" style="margin-top:0px;margin-bottom:2em;text-align:center;color:#ffffff;font-weight:600;font-size:1.286em;">AT SAN STEFANO, EGYPT</h5><div class="sc_section aligncenter" style="color:#ffffff;font-size:15px; line-height: 1.6em;"><figure class="sc_image  sc_image_shape_square" style="margin-top:5px !important;margin-bottom:5px !important;"><img src="{{ asset('assets/wp-content/uploads/2015/04/info_time.png') }}" alt="" /></figure></div><a href="product/exotica-resort-spa/index.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_white_2 sc_button_size_large" style="margin-top:20px;">visit sale</a></div></div></div></div><div class="sc_section" style="background-image:url('{{ asset('assets/wp-content/uploads/2015/05/home_3.jpg') }}');"><div class="sc_section_overlay" style=""><div class="sc_section_content"><div class="sc_content content_wrap" data-animation="animated fadeInRight normal" style="margin-top:4.8em !important;margin-bottom:5.3em !important;"><h1 class="sc_title sc_title_regular sc_align_right mobile-font-size" style="margin-top:0px;margin-bottom:5px;text-align:right;color:#ffffff;font-size:5.714em;">SECRET BAY</h1><h5 class="sc_title sc_title_regular sc_align_right" style="margin-top:0px;margin-bottom:2em;text-align:right;color:#ffffff;font-weight:600;font-size:1.286em;">DOMINICA, WEST INDIES</h5><div class="sc_section alignright" style="color:#ffffff;font-size:15px; line-height: 1.6em;"><figure class="sc_image  alignright sc_image_shape_square" style="margin-top:2px !important;margin-bottom:5px !important;margin-left:10px !important;"><img src="{{ asset('assets/wp-content/uploads/2015/04/info_time.png') }}" alt="" /></figure></div><div class="clearfix" style="clear:both"></div><a href="product/bernardus-lodge/index.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_white_2 sc_button_size_large alignright" style="margin-top:20px;">visit sale</a></div></div></div></div><div class="sc_section" style="margin-top:50px !important;margin-bottom:50px !important;"><div class="sc_content content_wrap" data-animation="animated fadeInUp normal"><h2 class="sc_title sc_title_iconed sc_align_center" style="margin-top:0px;margin-bottom:8px;text-align:center;"><span class="sc_title_icon sc_title_icon_top  sc_title_icon_small"><img src="{{ asset('assets/wp-content/uploads/2015/04/top_title_bg.png') }}" alt="" /></span>On Sale Today</h2><h5 class="sc_title sc_title_regular sc_align_center" style="margin-top:0px;margin-bottom:50px;text-align:center;color:#bac0c3;font-weight:600;">SOUTH AFRICA, MARYLAND, ITALY &amp; MORE</h5><div class="woocommerce columns-3 "><ul class="products columns-3">
                                    <li class="post-754 product type-product status-publish has-post-thumbnail product_cat-yangon-myanmar product_tag-tour product_tag-travel product_tag-vacation first instock shipping-taxable purchasable product-type-simple">
                                        <a href="product/myanmar-singapore-tour/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="564" height="370" src="{{ asset('assets/wp-content/uploads/2015/02/Depositphotos_18346029_original-564x370.jpg') }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="http://solaris.themerex.net/wp-content/uploads/2015/02/Depositphotos_18346029_original-564x370.jpg 564w, http://solaris.themerex.net/wp-content/uploads/2015/02/Depositphotos_18346029_original-250x164.jpg 250w, http://solaris.themerex.net/wp-content/uploads/2015/02/Depositphotos_18346029_original-500x328.jpg 500w" sizes="(max-width: 564px) 100vw, 564px" /><h2 class="woocommerce-loop-product__title">Myanmar &#038; Singapore Tour</h2>				<div class="product_cats">
                                                , <a href="product-category/yangon-myanmar/index.html">Yangon, Myanmar</a>, 				</div>
                                            <div class="product_price">from
                                                <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>200.00</span></span>
                                                /night</div></a></li>
                                    <li class="post-753 product type-product status-publish has-post-thumbnail product_cat-new-york-city-the-usa product_tag-city product_tag-town product_tag-urban instock shipping-taxable purchasable product-type-simple">
                                        <a href="product/the-roger-new-york/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="564" height="370" src="{{ asset('assets/wp-content/uploads/2015/02/Depositphotos_7918582_original-564x370.jpg') }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="http://solaris.themerex.net/wp-content/uploads/2015/02/Depositphotos_7918582_original-564x370.jpg 564w, http://solaris.themerex.net/wp-content/uploads/2015/02/Depositphotos_7918582_original-250x164.jpg 250w, http://solaris.themerex.net/wp-content/uploads/2015/02/Depositphotos_7918582_original-500x328.jpg 500w" sizes="(max-width: 564px) 100vw, 564px" /><h2 class="woocommerce-loop-product__title">The Roger New York</h2><div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>				<div class="product_cats">
                                                , <a href="product-category/new-york-city-the-usa/index.html">New York City, the USA</a>, 				</div>
                                            <div class="product_price">from
                                                <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>141.39</span></span>
                                                /night</div></a></li>
                                    <li class="post-752 product type-product status-publish has-post-thumbnail product_cat-tokyo-japan product_tag-nature product_tag-orient last instock shipping-taxable purchasable product-type-simple">
                                        <a href="product/exploring-tokyo-hakone/index.html" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="564" height="370" src="{{ asset('assets/wp-content/uploads/2015/01/bigstock-gold-temple-japan-44883001-564x370.jpg') }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="http://solaris.themerex.net/wp-content/uploads/2015/01/bigstock-gold-temple-japan-44883001-564x370.jpg 564w, http://solaris.themerex.net/wp-content/uploads/2015/01/bigstock-gold-temple-japan-44883001-250x164.jpg 250w, http://solaris.themerex.net/wp-content/uploads/2015/01/bigstock-gold-temple-japan-44883001-500x328.jpg 500w" sizes="(max-width: 564px) 100vw, 564px" /><h2 class="woocommerce-loop-product__title">Exploring Tokyo &#038; Hakone</h2>				<div class="product_cats">
                                                , <a href="product-category/tokyo-japan/index.html">Tokyo, Japan</a>, 				</div>
                                            <div class="product_price">from
                                                <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>132.00</span></span>
                                                /night</div></a></li>
                                </ul>
                            </div></div></div><div class="sc_section aligncenter" data-animation="animated fadeIn normal" style="background-color:#f5f7f7;"><div class="sc_section_overlay" style=""><div class="sc_section_content"><div class="sc_content content_wrap" style="margin-top:2.5em !important;margin-bottom:2.5em !important;"><div class="sc_section aligncenter" style="width:70%;"><h2 class="sc_title sc_title_regular" style="margin-top:0px;">FREE THIS WEEKEND?</h2><h5 class="sc_title sc_title_regular" style="margin-top:5px;margin-left:2px;color:#bac0c3;font-weight:600;">EXCLUSIVE DEALS ON YOUR FAVORITE HOTELS AROUND THE WORLD</h5></div><div id="sc_section_542379731" class="sc_section" style="margin-top:1.5em !important;margin-bottom:0px !important;height:140px;"><div id="sc_section_542379731_scroll" class="sc_scroll sc_scroll_horizontal swiper-slider-container scroll-container" style="height:140px;"><div class="sc_scroll_wrapper swiper-wrapper"><div class="sc_scroll_slide swiper-slide"><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_1-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Australia</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_2-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">London</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_3-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">New York</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_4-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Copenhagen</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_5-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Amsterdam</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_6-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Paris</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_7-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Los Angeles</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_8-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Barcelona</a></figcaption></div><div class="sc_image_wrap  alignleft" style="margin-right:0px !important;margin-left:21px !important;"><figure class="sc_image  sc_image_shape_round" style="width:90px;height:90px;"><img src="{{ asset('assets/wp-content/uploads/2015/04/weekend_9-90x90.jpg') }}" alt="" /></figure><figcaption><span></span> <a href="shop/index.html">Stockholm</a></figcaption></div></div></div><div id="sc_section_542379731_scroll_bar" class="sc_scroll_bar sc_scroll_bar_horizontal sc_section_542379731_scroll_bar"></div></div></div><a href="shop/index.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_custom sc_button_size_medium" style="margin-top:40px;">join us!</a></div></div></div></div>

                </section> <!-- </section> class="post_content" itemprop="articleBody"> -->
            </article> <!-- </article> class="itemscope post_item post_item_single post_featured_default post_format_standard post-1560 page type-page status-publish hentry" itemscope itemtype="http://schema.org/Article"> -->	<section class="related_wrap related_wrap_empty"></section>

        </div> <!-- </div> class="content"> -->


    </div>		<!-- </.page_content_wrap> -->
{% endblock %}
