{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <!-- Blog start  -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/style.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/meanmenu.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/BlogAssets/css/worldfriendship/swiper.min.css') }}">
        <link rel="stylesheet" href="{{ asset('Blog/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <!-- Blog end  -->
    {% endblock %}
{% block body %}
<section class="services-elements section-padding">
    <div>
        <img src="{{ asset('Blog/image/carousel/7.png') }}" alt="">
    </div>
    {{ form(form_modifier) }}



    {% endblock %}

{% block javascripts %}





{% endblock %}